/* 启用伸缩布局 */
.flex-enable {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/* 子元素横向排列 */
.flex-row {
    /* box-direction / box-orient / flexbox-direction 在某些旧版本的浏览器上生效 */
    -moz-box-direction: row;
    -webkit-box-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flexbox-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

/* 子元素平均分布在父容器中 */
.flex-justify-space-around {
    /* flex-pack / box-pack 在某些旧版本的浏览器上生效 */
    justify-content:space-around;
    -webkit-justify-content: space-around;    
    -ms-flex-pack: justify; 
    -webkit-box-pack: justify; 
    -moz-box-pack: justify; 
}

.flex-column {
    -moz-box-direction: column;
    -webkit-box-direction: column;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flexbox-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}