* {
	margin: 0;
	padding: 0;
}

html, body {
	font-size: 100%;
	font-family: "source han sans", "微软雅黑", Helvetica, Arial, 'Hiragino Sans GB', sans-serif;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

